* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca';
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

main {
    width: 100%;
    margin-top: auto;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #F2F2F2;
    font-family: 'Big Shoulders Display';
    margin-top: 35px;
    line-height: 47.88px;
}

/* I have questions here */
.cards {
    display: flex;
    justify-content: start;
    flex-flow: row nowrap;
    height: 500px;
    width: 921px;
    /* position: absolute; */
    /* left: 50%; */
    margin: 181px auto;
    /* margin: 5% -460px 0 -460px; */
}


.card {
    width: 307px;
    height: 500px;
    border-radius: 8px;
    padding: 48px;
    ;
}




.card:first-child {
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
}

.card:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%)
}

.card:last-child {
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
}

.cards p {
    color: white;
    opacity: 75%;
    margin-top: 25px;
}

.button {
    background-color: white;
    width: 146px;
    height: 48px;
    margin-top: 83px;
    margin-bottom: 48px;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: white;
}

@media only screen and (max-width: 950px) {
    main {
        height: 1400px;
        margin-bottom: 300px;
    }

    .cards {
        flex-direction: column;
        width: 307px;
        height: 1329px;
        margin-top: 88px;
    }
}