
/* latin */
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/bigshouldersdisplay/v15/fC1MPZJEZG-e9gHhdI4-NBbfd2ys3SjJCx12wPgf9g-_3F0YdWg8FFkwSA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexenddeca/v17/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U48M1wqxnD.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca';
    color: white;
}

main {
    position: relative;
}

h1 {
    font-size: 40px;
    color: #F2F2F2;
    font-family: 'Big Shoulders Display';
    margin-top: 35px;
}

/* I have questions here */
.cards {
    display: flex;
    justify-content: start;
    flex-flow: row nowrap;
    height: 500px;
    width:921px;
    position: absolute;
    left: 50%;
    margin: 5% -460px 0 -460px;
}

@media only screen and (max-width: 735px){
    .cards {
        flex-direction: column;
        width: 307px;
        height: 921px;
        left: 50%;
        margin: 5% -153px 0 -153px;
    }
}

.cards .card {
    width: 307px;
    border-radius: 8px;;
    /* height: 500px; */
}

.card * {
    margin-left: 48px;
    margin-right: 47px;
}

.card img {
    margin-top: 48px;
    
}


.card:first-child {
    background-color: hsl(31, 77%, 52%);
    color:hsl(31, 77%, 52%);
}

.card:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
    color:hsl(184, 100%, 22%)
}
.card:last-child {
    background-color: hsl(179, 100%, 13%);
    color:hsl(179, 100%, 13%);
}

.cards p {
    color: white;
    opacity: 75%;
    margin-top: 25px;
}

.button {
    background-color: white;
    width: 146px;
    height: 48px;
    margin-top: 83px;
    margin-bottom: 48px;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
}

.button:active {
 background-color: transparent;
 color: white;
}
